.App {
  padding-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  color: #fff;
}

.form {
}

.input {
  height: 42px;
  margin-right: 10px;
  width: 240px;
  padding: 0 18px;
}

.submit {
  height: 42px;
  width: 100px;
}

.result {
  margin-top: 30px;
  width: 440px;
}

.result__title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.result__item {
}

.result-item {
  border: 2px solid #fff;
  display: flex;
  border-bottom: none;
}

.result-item:last-child {
  border: 2px solid #fff;
}

.result-item__title {
  font-weight: 700;
  border-right: 2px solid #fff;
  width: 67%;
}

.result-item__timing {
  width: 33%;
  text-align: center;
}

.result-item__title,
.result-item__timing {
  padding: 15px 10px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.loading {
  font-size: 18px;
  font-weight: 700;
  animation: blink 0.75s infinite alternate ease-in-out;
  opacity: 0;
  text-align: center;
  margin-top: 60px;
}
